{% import "_macros.html.twig" as macros %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block stylesheets %}
      <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet" />
      <link href="{{ asset('assets/css/font-awesome.min.css')}}" rel="stylesheet" />
      <link href="{{ asset('assets/css/style.css')}}" rel="stylesheet" />
      <script type="text/javascript" src="{{ asset('assets/js/jquery-3.2.1.min.js')}}"></script>
      <script type="text/javascript" src="{{ asset('assets/js/popper.min.js')}}"></script>
      <script type="text/javascript" src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
      <script type="text/javascript" src="{{ asset('assets/tinymce/tinymce.min.js') }}"></script>
      <script>
        tinymce.init({
          selector: 'textarea',
          plugin: 'a_tinymce_plugin',
          a_plugin_option: true,
          a_configuration_option: 400,
          theme_advanced_resizing: false,
          theme_advanced_resize_horizontal: false,
          theme_advanced_resizing_min_height: 480,
        });
      </script>
    {% endblock %}
    <title>{% block title %}Panel{% endblock %}</title>
  </head>
  <body>
    {% include 'env_info_bar.html.twig' %}
    <div class="container-fluid">
      {% block banner %}
      <div class="row">
        <div class="col-12 panel-banner p-3 text-white">
          <span class="panel-banner-text px-3 align-middle">ADMIN PANEL</span>
        </div>
      </div>
      {% endblock %}
    </div>
    <div class="container-fluid panel-content bg-white">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 bg-light py-3 text-center">
          <nav class="d-block d-sm-none navbar navbar-expand-lg navbar-light">
            <button class="btn-block navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#panel-menu" aria-controls="panel-menu" aria-expanded="false" aria-label="Toggle menu">
              <span class="navbar-toggler-icon"></span> Menu
            </button>
            <div class="col-12 mt-3 collapse" id="panel-menu">
              <a href="{{ path('listPosts', {'skip': 0, 'limit':10 }) }}" class="btn btn-block btn-dark text-left"><i style="width: 1em;" class="fa fa-file-text-o"></i> Posts</a>
              <a href="{{ path('listPosts', {'skip': 0, 'limit':10 }) }}" class="btn btn-block btn-dark text-left"><i style="width: 1em;" class="fa fa-tags"></i> Categories</a>
              <a href="{{ path('listPosts', {'skip': 0, 'limit':10 }) }}" class="btn btn-block btn-dark text-left"><i style="width: 1em;" class="fa fa-picture-o"></i> Gallery</a>
              <a href="{{ path('listPosts', {'skip': 0, 'limit':10 }) }}" class="btn btn-block btn-dark text-left"><i style="width: 1em;" class="fa fa-user"></i> About</a>
              <a href="{{ path('listPosts', {'skip': 0, 'limit':10 }) }}" class="btn btn-block btn-dark text-left"><i style="width: 1em;" class="fa fa-comments-o"></i> Comments</a>
              <a href="{{ path('listPosts', {'skip': 0, 'limit':10 }) }}" class="btn btn-block btn-dark text-left"><i style="width: 1em;" class="fa fa-users"></i> Users</a>
              <a href="{{ path('listPosts', {'skip': 0, 'limit':10 }) }}" class="btn btn-block btn-dark text-left"><i style="width: 1em;" class="fa fa-newspaper-o"></i> Newsletter</a>
            </div>
          </nav>
          <div class="d-none d-sm-block">
            <a href="{{ path('listPosts', {'skip': 0, 'limit':10 }) }}" class="btn btn-block btn-dark text-left"><i style="width: 1em;" class="fa fa-file-text-o"></i> Posts</a>
            <a href="{{ path('listPosts', {'skip': 0, 'limit':10 }) }}" class="btn btn-block btn-dark text-left"><i style="width: 1em;" class="fa fa-tags"></i> Categories</a>
            <a href="{{ path('listPosts', {'skip': 0, 'limit':10 }) }}" class="btn btn-block btn-dark text-left"><i style="width: 1em;" class="fa fa-picture-o"></i> Gallery</a>
            <a href="{{ path('listPosts', {'skip': 0, 'limit':10 }) }}" class="btn btn-block btn-dark text-left"><i style="width: 1em;" class="fa fa-user"></i> About</a>
            <a href="{{ path('listPosts', {'skip': 0, 'limit':10 }) }}" class="btn btn-block btn-dark text-left"><i style="width: 1em;" class="fa fa-comments-o"></i> Comments</a>
            <a href="{{ path('listPosts', {'skip': 0, 'limit':10 }) }}" class="btn btn-block btn-dark text-left"><i style="width: 1em;" class="fa fa-users"></i> Users</a>
            <a href="{{ path('listPosts', {'skip': 0, 'limit':10 }) }}" class="btn btn-block btn-dark text-left"><i style="width: 1em;" class="fa fa-newspaper-o"></i> Newsletter</a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10 bg-white">
          {% block body %}{% endblock %}
        </div>
      </div>
    </div>
    {% block javascripts %}
    {% endblock %}
  </body>
</html>
