{% extends 'panel/panel.html.twig' %}

{% block body %}
	<div class="row p-2 panel-actions mb-2">
		<a class="btn btn-sm btn-primary" href="{{ path('createPost') }}">Create Post</a>
	</div>
	{% include 'pagination.html.twig' %}
	<div>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Title</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for post in posts %}
				<tr>
	    			<td>{{ post.id }}</td>
	    			<td>{{ post.title }}</td>
	    			<td>
	    				<a href="{{ path('editPost', {id: post.id}) }}">
	    					<span class="align-top">
	    						<i style="height: 1em;" class="fa fa-pencil-square-o"></i>
	    					</span>
						</a>
	    				<a href="{{ path('deletePost', {id: post.id}) }}">
	    					<span class="align-top">
	    						<i style="height: 1em;" class="text-danger fa fa-trash"></i>
	    					</span>
						</a>
	    			</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	{% include 'pagination.html.twig' %}
{% endblock %}
